/* 

 :root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body {
    height: 100vh;
    overflow: hidden;
  }
  .footer {
    padding: 2rem;
    color: #567c8d;
    background: #2F4156 ;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
   */


   .footer {
    font-family: sans-serif;
    display: flex;
    padding: 30px 70px 30px 50px;
    color:  #2F4156;
    background-color:  #F5EFEB;
    justify-content: space-between;
    border-top:2px solid #d6d9dc;
  }
 
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
 
  .footer li {
    line-height: 2em;
    color: #2F4156;

  }
 
  .footer a {
    text-decoration: none;
    color: #2F4156;
  }

  .footer h2{
    font-size: 2rem;
    font-weight: 600;
  }
 
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(83, 169, 126, 0.07);
    border-radius: 50px;
    color: #2F4156;
    border: 1px solid;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
 
  .footer__social{
    margin-top: 25px;
  }

.footer__icon {
    padding:10px;
    font-size: 24px;
    color: #2F4156;
    transition: color 0.3s ease;
}

 

 
