<!-- <div class="footer">&copy;<span id="year"> </span><span><strong>QuizGrad</strong>. All rights reserved.</span></div> -->

<footer class="footer">
    <div>
      <h1 class="footer__logo"><img src="assets/logo2.png" alt="Logo" class="navbar-logo" width="170px" height="50px">
      </h1>
      &copy;<span id="year">2024 </span>All Rights Reserved
        <div class="footer__social">
        <a href="#" class="footer__icon"><i class="bi bi-instagram"></i></a>
        <a href="#" class="footer__icon"><i class="bi bi-twitter"></i></a>
        <a href="#" class="footer__icon"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="footer__icon"><i class="bi bi-facebook"></i></a>
      </div>
    </div>
   
    <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Quick Links</h2>
   
          <ul class="nav__ul">
            <li>
              <a routerLink="/explore-quiz">Explore Quiz</a>
            </li>
   
            <li>
              <a  routerLink="/quiz-history">Quiz History</a>
            </li>
               
            <li>
              <a routerLink="/profile">Profile</a>
            </li>
          </ul>
        </li>
      </ul>
    <div class="footer__addr">
 
      <h2>Contact</h2>
     
      <address>
       IDeaS - SAS Company, Pune<br>
           
      <a class="footer__btn" href="pooja.gulhane@ideas.com">Email Us</a>
      </address>
    </div>  
  </footer> 

