<div class="hero-container">
  <div class="hero-text">
    <h1>Challenge Your Mind, 
      Test Your Knowledge</h1>
    <p>Dive into a world of quizzes designed to sharpen your skills, boost your learning, and keep you entertained. Whether you're a curious learner or a quiz enthusiast, there's something here for everyone!</p>
    <button class="button-48" role="button" (click)="navigateToQuiz()"><span class="text">lets Solve</span></button>
  </div>
  <div class="hero-image">
    <img src="assets/hero-image.svg" alt="Hero Image">
    <!-- <img src="assets/homeHero.png" alt="Hero Image"> -->
  </div>
</div>