<div class="container">
    <p class="display-4 my-2 py-3">
        Sign In
    </p>
    <hr>
    <form (ngSubmit)="signInSubmit(signInForm)" #signInForm="ngForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
            name="email" #email="ngModel" [(ngModel)]="user.email" required
            >
            <div id="emailError" class="form-text text-danger" *ngIf="email.dirty && email.invalid">Email can't be empty.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
            name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="8"
            >
            <div *ngIf="password.dirty && password.errors">
                <div id="passwordError" class="form-text text-danger" *ngIf="password.errors['required']">Password can't be empty.</div>
                <div id="passwordError" class="form-text text-danger" *ngIf="password.errors['minlength']">Password must have at least 8 characters.</div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary" [disabled]="signInForm.pristine || signInForm.invalid">Submit</button>
    </form>
</div>