.container{
    padding:0rem;
    padding-top: 6rem;
}

.right-side {
    padding-top: 3rem;
}

.form-box {
    background-color: #fff;
    padding:1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-box p {
    font-weight: 600;
    color: #2f4156;
  }
  
  .form-box hr {
    border-top: 1px solid #ddd;
  }
  
  .form-box .form-control {
    border-radius: 5px;
  }
  
  .form-box button {
    cursor: pointer;
    background-color: #2F4156 ;
    color: #ffffff;
    border-color: #2F4156 ;
    transition: background-color 0.3s ease;
  }
  
  .form-box button:hover {
    background-color: #192b3f ;
  }
  
  .form-box .text-danger {
    font-size: 0.9rem;
  }
  
  /* Styling for the success message */
  .success-message {
    text-align: center;
    font-size: 1rem;
    color: #2f4156;
    background-color: #c8d9e6;
    padding: 10px;
    border: 1px solid #2f4156;
    border-radius: 5px;
    margin-top: 20px;
  }

  .doNotHaveAccount{
    padding: 15px 0px 0px 0px;
  }
  
  .explore-link {
    font-weight: bold;
    color: #2f4156;
    text-decoration: underline;
    cursor: pointer;
  }

  .alert button{
    color: red;
}

.alert{
    border: 2px solid red; 
    background-color: white;
    color: red;
}



  