<div class="quiz-website">
    <div class="left-part">
      <img src="assets/feature_quiz.svg" alt="Quiz Image" />
    </div>
    <div class="right-part">
      <h1>Make Learning Exciting with Engaging Tools</h1>
      <p>Inspire deeper learning with creative and interactive worksheets. Tailor each worksheet to your teaching style, turning classroom preparation into an enjoyable experience. Fun and engaging activities will keep your students motivated and more involved in every lesson!</p>
      <button (click)="navigateToQuiz()" class="start-button">Start Exploring</button>
    </div>
  </div>
