.container {
    padding-top: 5rem;
}

.timer {
  margin-right: 5px; 
}

.timercontainer{
  color:  #2F4156 ;
  border-radius: 10px; 
  font-size: 1.5rem;
  margin-left: 66rem;
  padding: 5px;
}


.card {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.question-card {
    background-color: #f8f9fa;
    border: none;
}

.option-card {
    background-color: #ffffff;
    border: 2px solid #2F4156;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.option-card:hover {
    background-color: #e9f7fd;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-check {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.form-check-input {
    margin-right: 15px;
}

.form-check-input:checked + .form-check-label {
    color: #007bff;
    font-weight: bold;
}

.form-check-label {
    font-size: 1.2rem;
    color: #333;
    margin-left: 10px;
}

.option-label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 8px;
}

.custom-btn-next{
    background-color: white;
    color: #2F4156;
    border: 2px solid #2F4156;
}

.custom-btn-prev{
    background-color:white ;
    color: #2F4156;
    border: 2px solid #2F4156;
}

.custom-btn-submit {
    background-color: #567C8D;
    border: none;
    color: white;
    padding: 12px 30px;
}

.text-center {
    margin-top: 20px;
}

.custom-btn-prev, .custom-btn-next, .custom-btn-submit {
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.custom-btn-prev {
  background-color: white;
  color: #2F4156;
  border: 2px solid #2F4156;
}

.custom-btn-prev:hover {
  background-color: #2F4156; 
  color: white; 
}

.custom-btn-next {
  background-color: white;
  color: #2F4156;
  border: 2px solid #2F4156;
}

.custom-btn-next:hover {
  background-color: #2F4156; 
  color: white; 
}

.custom-btn-submit {
  background-color: #567C8D;
  color: white;
  border: none;
}

.custom-btn-submit:hover {
  background-color: white; 
  color: #567C8D;
  border: 2px solid #567C8D; 
}

.btn-disabled {
  background-color: #d3d3d3; 
  color: #a9a9a9; 
  cursor: not-allowed; 
  border: 1px solid #a9a9a9; 
}


.question-index{
  padding: 3px;
  margin-left: 15px;
}

