<div class="quiz-history-container">
  <h2 class="text-center mb-4">Quiz History</h2>
  <div class="row">
      <div *ngFor="let quiz of quizHistory" class="col-md-6 mb-4">
          <div class="card shadow-sm h-100 border-0">
              <div class="card-body d-flex flex-row align-items-center">
                  <div class="quiz-info flex-grow-1">
                      <h5 class="card-title">
                          <a [routerLink]="['/user-response-history', quiz.quiz.quizId, quiz.applicationUser.applicationUserId]" class="quiz-link">{{ quiz.quiz.quizName }}</a>
                      </h5>
                      <p class="card-text mb-1">
                          <strong>Score:</strong> {{ quiz.scoreValue }}<strong>/ {{ quiz.quiz.quizTotalMarks }}</strong>
                      </p>
                      <p class="card-text mb-1">
                          <strong>Date:</strong> {{ quiz.quizTakenDate | date: 'medium' }}
                      </p>
                  </div>
                  <div class="ms-auto trophy-icon">
                      <i class="bi bi-trophy-fill"></i> <!-- Icon for trophy -->
                  </div>
              </div>
          </div>
      </div>
  </div>

  <p *ngIf="quizHistory.length === 0" class="text-center">No quizzes taken yet.</p>
</div>

<div class="patch fixed-bottom">
  <img src="assets/Quiz_history.png">
</div>


<!-- <div class="quiz-history-container">
    <h2 class="text-center">Quiz History</h2>
    <div class="row">
      <div *ngFor="let quiz of quizHistory" class="col-md-6 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body d-flex flex-row align-items-center">
            <div class="quiz-info">
              <h5 class="card-title" ><a [routerLink]="['/user-response-history', quiz.quiz.quizId, quiz.applicationUser.applicationUserId]">{{ quiz.quiz.quizName }}</a></h5>
              <p class="card-text mb-1">
                <strong>Score:</strong> {{ quiz.scoreValue }}<strong>/ {{quiz.quiz.quizTotalMarks}}</strong>
              </p>
              <p class="card-text mb-1">
                <strong>Date:</strong> {{ quiz.quizTakenDate | date: 'medium' }}
              </p>
            </div>
            <div class="ms-auto">
              <i class="fas fa-trophy fa-3x text-warning"></i> 
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <p *ngIf="quizHistory.length === 0" class="text-center">No quizzes taken yet.</p>
  </div>
   -->