.quiz-history-container {
  padding:7rem 2rem 2rem 2rem;
  border-radius: 10px; 
  max-width: 900px; 
  margin: auto; 
}

.quiz-history-container h2{
  font-weight: bold;
  color: #2F4156;
}

.row {
  display: flex;
  justify-content: center; 
}
.card {
  border-radius: 10px; 
  transition: transform 0.2s; 
}

.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.quiz-info {
  flex: 1;
}

.card-title {
  font-size: 1.5rem; 
  font-weight: bold;
  color: #343a40; 
}

.quiz-link {
  text-decoration: none; 
  color: inherit; 
}

.quiz-link:hover {
  text-decoration: underline; 
  color: #007bff; 
}

.card-text {
  font-size: 1.1rem; 
  color: #495057;
}

.trophy-icon {
  flex-shrink: 0; 
  color: #ffc107; 
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.patch {
  position: fixed;
  bottom: 0;
  left: 0;

  margin-left: 10px;
  animation: slideUp 1s ease-out forwards;
}

.patch img{
  width: 19%;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1;
  }
}



