
<div class="text">
<div class="heading text-center mt-4 " >
  <div class="overlay">
    <h1>Explore, Compete, and Sharpen Your Skills!</h1>
    <p>
      <strong>Unlock exciting quizzes designed to challenge your mind. Whether you're here to learn, compete, or just have fun, we've got something for everyone. Pick a quiz and see how you stack up against others!</strong>
    </p>
  </div>
  </div>
</div> 

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let quiz of quizs">
      <div class="card mb-4 rounded-5 shadow-sm">
        <img id="overlayId" src={{quiz.quizImage}} class="card-img-top rounded-5 p-3 w-100" alt="quiz">
        <div class="card-body">
          <!-- <h1>{{quiz.quizId}}</h1> -->
          <h4 class="card-title"><strong>{{quiz.quizName}}</strong></h4>
          <p class="card-text">
            <strong>No. of Questions:</strong> {{quiz.quizNoOfQuestions}}<br>
            <strong>Total Marks:</strong> {{quiz.quizTotalMarks}} <br>
            <strong>Total Time:</strong> {{quiz.quizTimeAllocated}} mins <i class="bi bi-hourglass-top"></i><br>
          </p>
          <a  [routerLink]="['/quiz/rules', quiz.quizId]"  id="startQuizButton-{{quiz.quizId}}"  class="btn btn-primary btn-block">Start Quiz</a>
          <!-- <a [routerLink]="['/quiz/rules', quiz.quizId]" [id]="'startQuizButton-'+quiz.quizId" class="btn btn-primary btn-block">Start Quiz</a> -->
        </div>
      </div>
    </div>
  </div>
</div> 


<div class="accordion accordion-flush" id="accordionFlushExample">
  <h3  style="text-align: Left;">Frequently Asked Questions</h3>
  <div class="accordion-item" >
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        What if I encounter an error while answering a question?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">If you see an error message like "Response doesn't exist," please refresh the page or return to the quiz selection screen and try again.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Can I view my quiz history?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Yes, you can view your quiz history, including scores and details of quizzes taken in the past.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        How is my score calculated?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Your score is calculated based on the number of correct answers you provided during the quiz.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        What should I do if I encounter a technical issue?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">If you experience any technical issues, please contact our support team through the app or via email.
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

