.score-container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-top: 4rem;
  }
  
  
  .quiz-completed-title {
    font-size: 2rem;
    font-weight: bold;
    color: #567C8D; 
  }
  
  .score-text {
    font-size: 1.5rem;
    color: #333;
  }
  
  .score-value {
    font-size: 2rem;
    font-weight: bold;
    color: #2F4156; 
  }
  
 
  .score-img {
    width: 20rem;
    height: auto;
    animation: pulse 2s infinite;
    margin-bottom: 20px; 
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .explore-btn {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 8px;
    color: #F5EFEB;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .explore-btn:hover {
    background-color:  #F5EFEB; 
    color:#2F4156 ; 
    transform: translateY(-3px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
  }

  .expolre-btn:active {
    transform: translateY(0); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  @media (max-width: 768px) {
    .quiz-completed-title {
      font-size: 2rem;
    }
    
    .score-text {
      font-size: 1.2rem;
    }
    
    .score-value {
      font-size: 1.8rem;
    }
    
    .score-img {
      width: 120px;
    }
  }
